*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(9, 107, 9, 0.671);
}

button{
    margin-top: 100px;
    height: 50px;
    width: 200px;
    position: absolute;
    left: calc( 50% - 100px);
    border-radius: 5%;
    background: #fec307;
    color: white;
    
}
button:hover{
    animation: cresceBotao 2s infinite;
}
.board{
    height: 600px;
    width: 100%;
    border-bottom: 10px solid rgb(7, 85, 7);
    border-top: 10px solid rgba(5, 109, 5, 0.644) ;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#fec307, #fe6e07, #e4b99a);
}

.urso{
    margin-left: 50px;
    width: 100px;
    position: absolute;
    bottom: 0;
   
}
.pulo{
    animation: movimentoUrso 700ms ease-out;
}
.palmeira{
    position: absolute;
    bottom: 0;
    width: 250px;
    right: 100%; 
    animation: palmeiraAnimacao 3s infinite linear; 
}
.cipo{
    position: absolute;

    animation: cipoAnimacao 10s infinite linear;
}
@keyframes palmeiraAnimacao {
    from{
        right: -250px;
    }
    to{
        right: 100%;
    }
    
}
@keyframes movimentoUrso {
    0%{
        bottom: 0;
    }
    30%{
        bottom: 220px;
    }
    50%{
        bottom: 220px;
    }
    70%{
        bottom: 220px;
    }
    100%{
        bottom: 0;
    }
} 

@keyframes cipoAnimacao {
    from{
        right: -1600px;
    }
    to{
        right: 100%;
    }
}
@keyframes cresceBotao {
       
    to {
       background: #fe6e07;
    }
    
}
